* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 239, 94, 0.945);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    margin: 20px;    
}

.title {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 50px;
    color: dodgerblue;
}


.message {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: 550px;
    background-image: url(/img/bus1.png);
    width: 40%;
    height: 77vh;
}

.register {
    display: flex;
    flex-direction: column;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.txt {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: dodgerblue;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

input[type=text] {
    margin-bottom: 5px;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border-radius: 5%;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

input[type=email] {
    margin-bottom: 5px;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border-radius: 5%;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}
input[type=password] {
    margin-bottom: 5px;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border-radius: 5%;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

input[type=date] {
    margin-right: 35px;
    margin-bottom: 5px;
    padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border-radius: 5%;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
}

button {
    background-color: rgba(6, 122, 255, 0.548);
    border: none;
    color: white;

    padding: 14px 50px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

button:hover {
    background-color: white;
    color: black;
}

.login-account a {
    background-color: white;
    border: none;
    color: black;

    padding: 10px 20px;
    margin-left: 10px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

}

.login-account a img {
    height: 18px;
    width: 18px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 0;
}

